@using Microsoft.AspNet.Identity
@using MedOffice.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@if (Request.IsAuthenticated)
{
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var user = manager.FindById(User.Identity.GetUserId());

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj, " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a></li>
        </ul>
    }

    if (User.IsInRole("Administrator"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Zarejestruj pracownika", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </ul>
    }

    if (User.IsInRole("Administrator") || User.IsInRole("Kierownik") || User.IsInRole("Rejestrujący"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Wyszukaj pracownika", "WorkerSearch", "Search", routeValues: null, htmlAttributes: new { id = "searchLink" })</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
