@using Microsoft.AspNet.Identity
@using MedOffice.Models;
@using Microsoft.AspNet.Identity.EntityFramework;
@if (Request.IsAuthenticated)
{
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var user = manager.FindById(User.Identity.GetUserId());

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj, " + user.Name + " " + user.Surname + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a></li>
        </ul>
    }

    if (User.IsInRole("Administrator"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Pracownicy
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Wyszukaj", "WorkerSearch", "Search", routeValues: null, htmlAttributes: new { id = "searchLink" })</li>
                    <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                </ul>
            </li>
        </ul>
    }
    if (User.IsInRole("Kierownik") || User.IsInRole("Rejestrujący"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Pracownicy
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Wyszukaj", "WorkerSearch", "Search", routeValues: null, htmlAttributes: new { id = "searchLink" })</li>
                </ul>
            </li>
        </ul>
    }
    if (User.IsInRole("Administrator") || User.IsInRole("Rejestrujący") || User.IsInRole("Kierownik"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Pacjenci
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Wyszukaj", "PatientSearch", "Search", routeValues: null, htmlAttributes: new { id = "searchLink" })</li>
                    <li>@Html.ActionLink("Wyświetl", "Index", "Patients", routeValues: null, htmlAttributes: new { id = "patientShowLink" })</li>
                    <li>@Html.ActionLink("Zarejestruj", "Create", "Patients", routeValues: null, htmlAttributes: new { id = "patientCreateLink" })</li>
                </ul>
            </li>
        </ul>
    }
    ////////////////////WIZYTY


    if (User.IsInRole("Lekarz"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Wizyty
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Wyświetl wszystkie", "Show", "Appointments", routeValues: null, htmlAttributes: new { id = "patientShowLink" })</li>
                </ul>
            </li>
        </ul>
    }

    if (User.IsInRole("Administrator") || User.IsInRole("Rejestrujący"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Wizyty
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Wyświetl wszystkie", "Index", "Appointments", routeValues: null, htmlAttributes: new { id = "patientShowLink" })</li>
                    <li>@Html.ActionLink("Utwórz wizytę", "Create", "Appointments", routeValues: null, htmlAttributes: new { id = "appointmentCreateLink" })</li>
                </ul>
            </li>
        </ul>
    }

    if (User.IsInRole("Kierownik"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Wizyty
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Wyświetl wszystkie", "All", "Appointments", routeValues: null, htmlAttributes: new { id = "patientShowLink" })</li>
                </ul>
            </li>
        </ul>
    }


    ////////////////////KONIEC WIZYT
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
