@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Events.Scheduler;

@{
    ViewBag.Title = "Kalendarz wizyt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row1 {
        text-align: center
    }

    .row2 {
        text-align: center;
        height: 42px;
    }

    .row3 {
        text-align: center;
        height: 20px;
    }

    .row4 {
        text-align: center;
        height: 10px;
    }
</style>

<div>
    <div class="col-md-offset-0-5 col-md-4regt">
        <h2>@ViewBag.Title.</h2>
    </div>
    <br style="clear: both;">
    <hr />

    @Html.DayPilotMenu("menu", new DayPilotMenuConfig
    {
        CssClassPrefix = "menu_default",
        Items = new DayPilot.Web.Mvc.MenuItemCollection
        {
            new DayPilot.Web.Mvc.MenuItem { Text = "Usuń", Action = MenuItemAction.CallBack, Command = "Delete"},
            new DayPilot.Web.Mvc.MenuItem { Text = "Edytuj", Action = MenuItemAction.CallBack, Command = "Edit"}
        }
    })

    @if (ViewBag.Type == "year")
    {
        <h3>Kalendarz na najbliższy rok</h3> <br />
        @Html.DayPilotScheduler("dps", new DayPilotSchedulerConfig
{
    BackendUrl = Url.Content("~/Scheduler/Backend"),
    EventResizeHandling = EventResizeHandlingType.CallBack,
    EventMoveHandling = EventMoveHandlingType.CallBack,
    //CellGroupBy = GroupBy.Week,
    CellDuration = 40,
    Days = 365,
    Scale = TimeScale.Week,
    StartDate = DateTime.Today,
    BeforeRowHeaderRenderJavaScript = "row(args);",
    CellWidth = 100,
    EventHeight = 25,

    HeaderColumns = new RowHeaderColumnCollection {
            new RowHeaderColumn("<center></center>", 100),
            new RowHeaderColumn("<center></center>", 100),
        },
    TimeHeaders = new TimeHeaderCollection {
            new TimeHeader(GroupBy.Week),
        },

    ShowNonBusiness = false,
    BusinessBeginsHour = 6,
    BusinessEndsHour = 20,

    EventClickHandling = EventClickHandlingType.JavaScript,
    EventClickJavaScript = "show(e);",
    TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "create(start, end, resource)",
    ContextMenu = "menu",
})
        <br />
        @Html.ActionLink("Kalendarz wizyt na najbliższy miesiąc", "Appointments", "Scheduler", routeValues: new { viewType = "month" }, htmlAttributes: new { id = "SchedulerShowLink" }) <br />
        @Html.ActionLink("Kalendarz wizyt na najbliższy tydzień", "Appointments", "Scheduler", routeValues: new { viewType = "week" }, htmlAttributes: new { id = "SchedulerShowLink" })
    }

    @if (ViewBag.Type == "month")
    {
        <h3>Kalendarz na najbliższy miesiąc</h3> <br />
    @Html.DayPilotScheduler("dps", new DayPilotSchedulerConfig
{
    BackendUrl = Url.Content("~/Scheduler/Backend"),
    EventResizeHandling = EventResizeHandlingType.CallBack,
    EventMoveHandling = EventMoveHandlingType.CallBack,
    //CellGroupBy = GroupBy.Week,
    CellDuration = 40,
    Days = 31,
    Scale = TimeScale.Day,
    StartDate = DateTime.Today,
    BeforeRowHeaderRenderJavaScript = "row(args);",
    CellWidth = 70,
    EventHeight = 25,

    HeaderColumns = new RowHeaderColumnCollection {
            new RowHeaderColumn("<center></center>", 100),
            new RowHeaderColumn("<center></center>", 100),
        },
    TimeHeaders = new TimeHeaderCollection {
            new TimeHeader(GroupBy.Week),
            new TimeHeader(GroupBy.Day),
        },

    ShowNonBusiness = false,
    BusinessBeginsHour = 6,
    BusinessEndsHour = 20,

    EventClickHandling = EventClickHandlingType.JavaScript,
    EventClickJavaScript = "show(e);",
    TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "create(start, end, resource)",
    ContextMenu = "menu",
})
        <br />
        @Html.ActionLink("Kalendarz wizyt na najbliższy tydzień", "Appointments", "Scheduler", routeValues: new { viewType = "week" }, htmlAttributes: new { id = "SchedulerShowLink" }) <br />
        @Html.ActionLink("Kalendarz wizyt na najbliższy rok", "Appointments", "Scheduler", routeValues: new { viewType = "year" }, htmlAttributes: new { id = "SchedulerShowLink" })
    }


    @if (ViewBag.Type == "week" || ViewBag.Type == null)
    {
        <h3>Kalendarz na najbliższy tydzień</h3> <br />
       @Html.DayPilotScheduler("dps", new DayPilotSchedulerConfig
       {

           BackendUrl = Url.Content("~/Scheduler/Backend"),
           EventResizeHandling = EventResizeHandlingType.CallBack,
           EventMoveHandling = EventMoveHandlingType.CallBack,
           CellGroupBy = GroupBy.Day,
           CellDuration = 1440,
           Days = 7,
           Scale = TimeScale.Hour,
           StartDate = DateTime.Today,
           BeforeRowHeaderRenderJavaScript = "row(args);",
           CellWidth = 40,
           EventHeight = 25,

           HeaderColumns = new RowHeaderColumnCollection {
                new RowHeaderColumn("<center>Pesel</center>", 100),
                new RowHeaderColumn("<center>Personalia</center>", 100),
                //new RowHeaderColumn("<center><a href='javascript:dps.commandCallBack(\"sort\", { field: \"fsname\" });'>Personalia</a></center>", 100)
                },
           TimeHeaders = new TimeHeaderCollection {
                new TimeHeader(GroupBy.Week),
                new TimeHeader(GroupBy.Day),
                new TimeHeader(GroupBy.Hour)
                },

           ShowNonBusiness = false,
           BusinessBeginsHour = 6,
           BusinessEndsHour = 20,

           EventClickHandling = EventClickHandlingType.JavaScript,
           EventClickJavaScript = "show(e);",
           TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
           TimeRangeSelectedJavaScript = "create(start, end, resource)",
           ContextMenu = "menu",
       })
        <br />
       @Html.ActionLink("Kalendarz wizyt na najbliższy miesiąc", "Appointments", "Scheduler", routeValues: new { viewType = "month" }, htmlAttributes: new { id = "SchedulerShowLink" }) <br />
       @Html.ActionLink("Kalendarz wizyt na najbliższy rok", "Appointments", "Scheduler", routeValues: new { viewType = "year" }, htmlAttributes: new { id = "SchedulerShowLink" })
    }

    <div class="row4"></div>
</div>

<script type="text/javascript">
    function row(args) {
        args.row.cssClass = "row1";
    };

    function show(e) {
        var modal = new DayPilot.Modal();
        var id = e.text();
        modal.showUrl('/Appointments/Details/' + id);
    }
</script>