@model IEnumerable<MedOffice.Models.AppointmentViewModels.ServiceViewModel>

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    ViewBag.Title = "Report";
}

 <h2>Raport</h2>
 <hr />
 <table>
     <tr>
         <th>
             @Html.Label("Typ uslugi") 
         </th>
         <th>
             @Html.Label("Nazwa uslugi")
         </th>
         <th>
             @Html.Label("Data uslugi")
         </th>
         <th>
             @Html.Label("Cena uslugi")
         </th>
         <th>
             @Html.Label("Koszty dodatkowe")
         </th>
         <th>
             @Html.Label("Suma kosztow")
         </th>
     </tr>
     @foreach (var item in Model)
     {
     <tr>
         <td>
             @Html.DisplayFor(modelItem => item.ServiceType)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.ServiceName)
         </td>
         <th>
             @Html.DisplayFor(modelItem => item.ServiceDate)
         </th>
         <td>
             @Html.DisplayFor(modelItem => item.ServicePrice)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.SuppliesPrice)
         </td>
         <th>
             @Html.DisplayFor(modelItem => item.TotalPrice)
         </th>
     </tr>
     }
 </table>