@model MedOffice.Models.Appointment

@{
    ViewBag.Title = "Tworzenie wizyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Utwórz nową wizytę</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Wizyta</h4>
    <hr />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.patients_pesel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.patients_pesel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.patients_pesel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.estim_disease, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.estim_disease, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.estim_disease, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.appoint_date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" name="appoint_date" id="appoint_date" type="datetime-local" value="@DateTime.Now.AddMinutes(10)" />
            @Html.ValidationMessageFor(model => model.appoint_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--<div class="form-group">
        @*Html.LabelFor(model => model.service_time, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @*Html.EditorFor(model => model.service_time, new { htmlAttributes = new { @class = "form-control" } })*@
            //<input class="form-control" name="service_time" id="service_time"/>
            @*Html.ValidationMessageFor(model => model.service_time, "", new { @class = "text-danger" })*@
        </div>
    </div>-->

    <div class="form-group">
        @Html.LabelFor(model => model.specialization, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.specialization, (IEnumerable<SelectListItem>)ViewBag.Spec, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.docs_pesel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="docs_pesel" name="docs_pesel">
                <option></option>
            </select>
            @Html.ValidationMessageFor(model => model.docs_pesel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.service_type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" name="service_type">
                <option>konsultacja</option>
                <option>wypisanie recept</option>
                <option>zabieg</option>
                <option>wizyta kontrolna</option>
                <option>inne</option>
            </select>
            @Html.ValidationMessageFor(model => model.service_type, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {

                $.get("/Appointments/GetDocList", { specialization: $("#specialization option:selected").val() }, (function (data) {
                    $("#docs_pesel").empty();
                    $.each(data, function (index, row) {
                       $("#docs_pesel").append("<option value='" + row.UserName + "'>" + row.Surname + "</option>");

                    });
                }));
        });

        $(document).ready(function () {
            $("#specialization").on('change', function () {
                location.reload();
            });
        });

    </script>

}
