@model MedOffice.Models.Appointment
@{
    ViewBag.Title = "Uzupełnienie wizyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Uzupełnianie informacji o wizycie</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Wizyta</h4>
    <hr />


    <input type="hidden" name="patients_pesel" value="@Model.patients_pesel" />
    <input type="hidden" name="estim_disease" value="@Model.estim_disease" />
    <input type="hidden" name="specialization" value="@Model.specialization" />
    <input type="hidden" name="docs_pesel" value="@Model.docs_pesel" />
    <input type="hidden" name="appoint_date" value="@Model.appoint_date" />


    <div class="form-group">
        @Html.LabelFor(model => model.real_disease, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.real_disease, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.real_disease, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.dis_descript, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dis_descript, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dis_descript, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.service_type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" name="service_type">
                <option>konsultacja</option>
                <option>wypisanie recept</option>
                <option>zabieg</option>
                <option>wizyta kontrolna</option>
                <option>inne</option>
            </select>
            @Html.ValidationMessageFor(model => model.service_type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.service_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.service_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.service_name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.service_price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.service_price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.service_price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.is_paid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.is_paid, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.is_paid, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.supplies_price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.supplies_price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.supplies_price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Powrót do listy", "Show")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
