@model MedOffice.Models.Appointment
@{
    ViewBag.Title = "Szczegóły wizyty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Szczegóły wizyty</h2>
<div>
    <h4>Wizyta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patients_pesel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.patients_pesel)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.estim_disease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estim_disease)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.real_disease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.real_disease)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.dis_descript)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dis_descript)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.appoint_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.appoint_date)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.service_time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_time)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.specialization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.specialization)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.docs_pesel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.docs_pesel)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.service_type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_type)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.service_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_name)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.service_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_price)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.is_paid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.is_paid)
        </dd>

        <br>

        <dt>
            @Html.DisplayNameFor(model => model.supplies_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.supplies_price)
        </dd>

        <br>
    </dl>
</div>
<p>
    @Html.ActionLink("Uzupełnij", "Fill", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy", "Show")
</p>
